@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);
.test-middle-style {
  margin: 0;
}

.test-top-style {
  margin: 0;
}

.test-other-style {
  margin: 0;
}

.test-bottom-style {
  margin: 0;
}
